---

---

<section class="container" id="about">
    <h1 class="title">Andrés Pérez <br>
        <strong id="blue-gradient-bold"> Developer</strong>
    </h1>
    <p class="paragraph" id="about-paragraph">
        Soy Andres, un desarrollador ubicado en <strong class="bold">Las Condes, Chile</strong>, conocido
        por ser un tipo entretenido, curioso y siempre motivado por nuevos desafíos. Con una pasión
        arraigada por la tecnología y un enfoque práctico, me he especializado en el <strong
            class="bold">desarrollo web y la ciberseguridad</strong>, abordando también proyectos en áreas
        fascinantes como el machine learning y el análisis de datos.
    </p>
</section>

<style>
#blue-gradient-bold{
    font-weight: 1000;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(8,77,177,1) 50%, rgba(0,0,5,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Safari Compatibility */
}
#about {
    background-color: #fff;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0 0 10px 0 #00000033;
    > p{
        text-align: justify;
    }
}
#about-paragraph {
    margin: 20px;
    text-align: center;
}

</style>