---

---

<section class="container" id="contact">
    <h2 class="subtitle">Contacto</h2>
    <form action="">
        <div class="form-group
">
            <label for="name">Name</label>
            <input type="text" id="name" />
        </div>
        <div class="form-group
        ">
            <label for="email">Email</label>
            <input type="email" id="email" />
        </div>
        <div class="form-group
        ">
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <button type="submit">Send</button>
        </div>
    </form>
</section>

<style>
#contact {
    background-color: #fff;
    padding: 40px;
    margin: 20px auto;
    box-shadow: 0 0 10px 0 #00000033;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%; /* Para que los inputs ocupen todo el ancho del form */
    box-sizing: border-box; /* Para que el padding no afecte al ancho total */
}

.form-group label {
    align-items: start;        
    margin-bottom: 5px;
    color: #333;
    font-weight: 700; /* Para que las etiquetas destaquen */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%; /* Para que ocupen todo el ancho del form-group */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd; /* Un borde ligero para los inputs */
    font-family: 'Open Sans', Arial, sans-serif;
}

.form-group textarea {
    resize: none; /* Permite al usuario ajustar el tamaño verticalmente */
}

button {
    width: 240px !important;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    button {
        width: 100% !important;
    }
    
}

button:hover {
    background-color: #555; /* Un efecto sutil al pasar el ratón */
}
.form-group:last-child {
    text-align: end;
}
</style>