---

---

<footer id="footer">
    <div id="footer-content">
        <section id="contact-info media-container">
            <h3 id="footer-heading">Contacto</h3>
            <p id="contact-details">Email: andres@example.com</p>
            <p id="contact-details">Teléfono: +56 9 1234 5678</p>
        </section>

        <section id="social-media media-container">
            <h3 id="footer-heading">Redes Sociales</h3>
            <ul id="social-links">
                <li><a href="https://linkedin.com/in/andresperez" id="social-link">LinkedIn</a></li>
                <li><a href="https://github.com/l1k4skr" id="social-link">GitHub</a></li>
                <!-- Añade otros enlaces a redes sociales aquí -->
            </ul>
        </section>

        <section id="quick-links media-container">
            <h3 id="footer-heading">Enlaces Rápidos</h3>
            <ul id="footer-nav">
                <li><a href="#about" id="footer-link">Sobre mí</a></li>
                <li><a href="#projects" id="footer-link">Proyectos</a></li>
                <li><a href="#contact" id="footer-link">Contacto</a></li>
            </ul>
        </section>
    </div>

    <div id="footer-bottom">
        <p id="copyright">&copy; 2024 Andres Perez. Todos los derechos reservados.</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

<style>
#footer {
    background-color: #031633;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
    #footer-content {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
}

#footer-heading {
    font-size: 1.2em;
    margin-bottom: 10px;
    color : #fff;
}

#contact-details, 
#social-links, 
#footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

#social-link, 
#footer-link {
    color: #fff;
    text-decoration: none;
}

#social-link:hover, 
#footer-link:hover {
    text-decoration: underline;
}

#footer-bottom {
    margin-top: 20px;
}

</style>